.ApplicationFormPage {
	/* background-color: aqua; */
}

label {
	color: grey;
}

.ApplicationFormPage-unsubmitted {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 60%;
	background-color: #f6f6f6;
	min-height: 92vh;
}
.ApplicationFormPage-unsubmitted-header {
	text-align: center;
	color: white;
	background-color: #ff8200;
	margin-bottom: 2rem;
	width: 100vw;
}

.ApplicationFormPage-unsubmitted-form {
	/* background-color: blueviolet; */
	margin-right: 45%;
	margin-left: 45%;
	min-width: 45%;
	display: flex;
	align-items: left;
	flex-direction: column;
}

/* Name feilds */
.ApplicationFormPage-unsubmitted-form-name {
	display: flex;
	flex-direction: column;
	margin-bottom: 5%;
}

.ApplicationFormPage-unsubmitted-form-name-fields {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.ApplicationFormPage-unsubmitted-form-nameTextInput {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 10px;
}

.ApplicationFormPage-unsubmitted-form-inputTitle {
	font-size: larger;
	margin-left: 10px;
}

/* Address feilds */
.ApplicationFormPage-unsubmitted-form-address {
	display: flex;
	flex-direction: column;
	margin-bottom: 5%;
}

.ApplicationFormPage-unsubmitted-form-address-other {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.ApplicationFormPage-unsubmitted-form-otherTextInput {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 10px;
}

.ApplicationFormPage-unsubmitted-form-streetTextInput {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 10px;
}

.ApplicationFormPage-unsubmitted-form-streetTextInput input {
	width: 20rem;
}

.ApplicationFormPage-unsubmitted-form-address-other {
	display: flex;
}

/* Contact Feilds */
.ApplicationFormPage-unsubmitted-form-contact {
	display: flex;
	flex-direction: column;
	margin-bottom: 5%;
}

.ApplicationFormPage-unsubmitted-form-contact-details {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.ApplicationFormPage-unsubmitted-form-contactTextInput {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 10px;
}

.ApplicationFormPage-unsubmitted-form-contactTextInput input {
	width: 15rem;
}

/* Experience Feilds */
.ApplicationFormPage-unsubmitted-form-experience {
	margin-bottom: 5%;
}

/* Citizen Feild */
.ApplicationFormPage-unsubmitted-form-citizen {
	margin-bottom: 5%;
}

.ApplicationFormPage-unsubmitted-form-textInput {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 10px;
}

.ApplicationFormPage-unsubmitted-form-textInput input {
	width: 10rem;
}

.ApplicationFormPage-unsubmitted-form-textarea {
	/* background-color: aliceblue; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 25rem;
	margin: 10px;
}
.ApplicationFormPage-unsubmitted-form-textarea textarea {
	height: 5rem;
}

.ApplicationFormPage-unsubmitted-form-radioInput {
	/* background-color: aliceblue; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	min-width: 25rem;
	margin: 10px;
}

.ApplicationFormPage-unsubmitted-form-radioGroup {
	/* background-color: aliceblue; */
	margin-left: auto;
}

.ApplicationFormPage-unsubmitted-form-radioGroup input {
	/* background-color: aliceblue; */
	margin-left: 10px;
}
