.Dashboard-applicantlist {
	background-color: rgb(202, 202, 202);
	height: 100vh;
}

.nav-link.active {
	color: white !important;
	background-color: #ff8200 !important;
}

.Dashboard {
	background-color: #f6f6f6;
}
